<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreditSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CreditSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CreditSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://ps1.merchantware.net/Merchantware/ws/RetailTransaction/v45/Credit.asmx"
                binding="basicHttpBinding" bindingConfiguration="CreditSoap"
                contract="MWCredit.CreditSoap" name="CreditSoap" />
            <endpoint address="https://ps1.merchantware.net/Merchantware/ws/RetailTransaction/v45/Credit.asmx"
                binding="customBinding" bindingConfiguration="CreditSoap12"
                contract="MWCredit.CreditSoap" name="CreditSoap12" />
        </client>
    </system.serviceModel>
</configuration>