<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeniusThreadedSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransportServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TransportServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://transport.merchantware.net/v4/transportService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TransportServiceSoap"
                contract="TransportWeb.TransportServiceSoap" name="TransportServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <GeniusThreadedSample.Properties.Settings>
            <setting name="GeniusThreadedSample_net_merchantware_transport_TransportService"
                serializeAs="String">
                <value>https://transport.merchantware.net/v4/transportService.asmx</value>
            </setting>
        </GeniusThreadedSample.Properties.Settings>
    </applicationSettings>
</configuration>