<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransportServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="TransportServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://transport.merchantware.net/v4/transportService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TransportServiceSoap2"
                contract="TransportWeb.TransportServiceSoap" name="TransportServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>